body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

#dashboard {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}

#budget,
#expenses {
  flex: 1;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

h2 {
  color: #333;
}

/* budget section */
#budget {
  border: 2px solid #3498db;
}

#budgetChart {
  margin-top: 20px;
}

#totalBudget,
#remainingBudget {
  font-weight: bold;
  color: #2ecc71;
}

#budgetForm {
  margin-top: 1rem;
}

#newBudgetAmount {
  width: 70%;
  padding: 0.5rem;
  margin-right: 1rem;
}

#budgetProgressBar {
  height: 20px;
  background-color: #3498db;
  margin-top: 1rem;
  position: relative;
}

/* expense section */
#expenses {
  border: 2px solid #e74c3c;
}

#expenseForm {
  margin-top: 1rem;
}

#expenseName,
#expenseAmount {
  width: 70%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#expenseList {
  list-style-type: none;
  padding: 0;
}

#expenseList li {
  margin-bottom: 0.5rem;
  color: #e74c3c;
}

/* Hover */
#budget:hover,
#expenses:hover {
  transform: scale(1.05);
}

/* budget progress bar */
#budgetProgressBar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 70%; 
  background-color: #2ecc71; 
  border-radius: 8px;
  transition: width 0.5s ease-in-out; 
}

/* Hover progress bar */
#budget:hover #budgetProgressBar::before {
  width: 100%; 
}
